#root {
  height: 100vh;
  width: 100%;
}

h1 {
  margin-top: 0;
}

#landing-page {
  align-content: center;
  text-align: center;
}

#container {
  height: 100%;
  background-image: url("./cityscout_logo.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.search {
  width: 100%;
  height: 100vh;
}

.route-enter, .route-appear {
  animation: slideIn 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.route-leave {
  animation: slideOut 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.slider-title {
  margin-top: 3em;
  text-align: center;
}

form {
  width: 50em;
  margin-top: 3em;
  margin-left: 21%;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  };
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  };
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translate3d(0, -100px, 0);
  };
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  };
}

.Image {
  position: absolute;
  height: 400px;
  width: 400px;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}

.link-active {
  color: #bbbbbb;
  text-decoration: none;
}

.search-bar {
  padding-top: 460px;
}

#bar {
  width: 60%;
}

body {
  background-color: #ccccff;
}

/*position: absolute;
background-color: #EEE;
left: 0;
width: 100%;
height: 100%;
transform: translate3d(100%, 0, 0);*/
